.card{
  height: 50px;
  width: 50%;

  background: #5b5df5;
  color: #fff;

  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card strong{
  font-size: 16px;
}